* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Microsoft YaHei', 'Inter', sans-serif;
        }
.sidebar .nav-item.active {
  color: #E86F76 !important;
  background: #FDF2F2 !important;
  border-left: 3px solid #E86F76 !important;
}
.sidebar .nav-item:hover {
            background: #F1F3F5;
            color: #495057;
        }
.sidebar {
    overflow: auto;
}
.card-container {
  display: flex;
  justify-content: space-between;



        }
.bar{
    border: 1px solid #E9ECEF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    text-align: center;
}

.card {
            background: #FFFFFF;
            border-radius: 8px;
            border: 1px solid #E9ECEF;
            padding: 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
            transition: all 0.3s ease;
            width:265px;
            height:140px;
            margin-bottom:20px;

        }

.card:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
            transform: translateY(-2px);
        }
.card .card-title {
            font-size: 14px;
            color: #6C757D;
            margin-bottom: 12px;
            font-weight: 500;
            text-align: center;

}
.num-indicator {
            font-size: 24px;
            color: #E86F76;
            font-weight: 600;
            text-align: center;
            margin: 16px 0;
        }
.num-desc {
            font-size: 12px;
            color: #868E96;
            text-align: center;
        }
.bar-container{

    width:1000px;
    height:433px;
}